.Header , .leftHeader , .links{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

@media(min-width:499px){
    .Header , .leftHeader , .links{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}
